{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0
  },
  "globals": {
    "beforeEach": "off",
    "describe": "off",
    "expect": "off",
    "jest": "off",
    "test": "off"
  }
}
